# First Steps: Initial Setup

## Getting Started

Please look in the ```README.md``` to get started.

## SQL Magic

Jupyter notes support the concept of ["magics."](https://www.tutorialspoint.com/jupyter/ipython_magic_commands.htm). Running the cell below provides some information about magics.

In [1]:
%magic

[iPython-sql](https://pypi.org/project/ipython-sql/) is a useful magic for interacting with SQL databases. You can install and make the magic available by installing. The following cell will usually install the package. If the installation fails,
1. Follow the [instructions for Anaconda.](https://anaconda.org/conda-forge/ipython-sql)
2. Use web search with the error messages to see how others have solved the problem.

Contact the TA or professor if you cannot install the package.

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (1.0.2)

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (0.4.1)
Requirement already satisfied: six in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: sqlparse in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: pexpect>4.3 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: matplotlib-inline in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: traitlets>=4.2 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pickleshare in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: appnope in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: jedi>=0.16 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: setuptools>=18.5 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: decorator in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /Users/alyssa/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

Now bring the magic into the notebook's environment.

In [4]:
%load_ext sql

## Using the Magic

The first step in using the magic is to connect to your MySQL database server. You need to put your root user name and password in the code before executing the cells below. My values are in the cells for the demo.

In [54]:
db_user = "root"
db_password = "003064922"

In [82]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://root:003064922@localhost'

In [83]:
%sql $connection_string

The notebook is now connected to the database server.

## Initial Data Setup

The first step is to create a database (also known) as a schema in the database server.

In [84]:
%sql create database if not exists f22_databases

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (3680, "Failed to create schema directory 'f22_databases' (errno: 13 - Permission denied)")
[SQL: create database if not exists f22_databases]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

The second step is to set the new database as the default database, and then create your first table.

Be very careful because the script drops the table (deletes the table). You loose any data if you previously used the table.

In [58]:
%sql use f22_databases

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1049, "Unknown database 'f22_databases'")
[SQL: use f22_databases]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [59]:
%sql drop table if exists columbia_students

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1046, 'No database selected')
[SQL: drop table if exists columbia_students]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

There is a [comma separated value](https://en.wikipedia.org/wiki/Comma-separated_values) file
that contains some simulated data created with [Mockaroo](https://www.mockaroo.com/). I have a paid account on Mockaroo, which means you may not be able to create and download sample data that I am able to create.

We will write a simple Python script to load the data from the file into the database.

In [60]:
import pymysql

In [61]:
# This create a connection from the notebook environment to the database server.
# Do not worry about what all the parameters mean.
#
# You must have set the values for db_user and db_password above.
#
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user="root",
    password="003064922",
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [62]:
conn

In [71]:
# Use a simple Python library for CSV files to read the data.
#
import csv

new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./sample_student_info.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows.append(r)

In [72]:
# Let's look at the data
new_rows[0:2]

[{'student_id': 'd65239a5-d26c-48fc-83e0-9add1cc8e689',
  'first_name': 'Marne',
  'middle_name': 'Charil',
  'last_name': 'Gilbart',
  'email': 'cgilbart0@slashdot.org',
  'school_code': 'GS'},
 {'student_id': 'ac1cd726-5dc0-41f8-91e5-3724e77cc8a3',
  'first_name': 'Sybyl',
  'middle_name': 'Brandice',
  'last_name': 'Hawkey',
  'email': 'bhawkey1@examiner.com',
  'school_code': 'CC'}]

Columns in relational databases have [types.](https://www.tutorialspoint.com/sql/sql-data-types.htm) Specific products implementing SQL databases usually have modifications and extensions. For now, we will just treat all of the data as "strings." So, we are going to create the table and its columns. We will use the SQL magic just for the heck of it.

In [73]:
%%sql

create table columbia_students
(
    guid varchar(256) not NULL,
    last_name   varchar(128) not null,
    first_name  varchar(128) not null,
    middle_name varchar(128) null,
    email       varchar(256) not null,
    school_code         varchar(8)  not null

);

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1046, 'No database selected')
[SQL: create table columbia_students
(
    guid varchar(256) not NULL,
    last_name   varchar(128) not null,
    first_name  varchar(128) not null,
    middle_name varchar(128) null,
    email       varchar(256) not null,
    school_code         varchar(8)  not null

);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

We can examine the table's structure.

In [74]:
%sql describe columbia_students

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1046, 'No database selected')
[SQL: describe columbia_students]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

- The SQL operation for creating a row is ```INSERT.```


- We will make a template string statement for the insert.

In [75]:
# The %s are placeholders for adding values.
insert_sql = """
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values(%s,%s,%s,%s,%s,%s)
"""

Now loop through the data and do the inserts.

In [76]:
# Do now worry about what a cursor is for now.
#
cur = conn.cursor()

In [77]:
for r in new_rows:
    # print(r.values())
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

SQL =
    insert into f22_databases.columbia_students(guid, last_name, first_name, middle_name, email, school_code)
    values('d65239a5-d26c-48fc-83e0-9add1cc8e689','Marne','Charil','Gilbart','cgilbart0@slashdot.org','GS')

OperationalError: (1049, "Unknown database 'f22_databases'")

Let's see if we can find our data.

In [70]:
%sql select * from f22_databases.columbia_students;

 * mysql+pymysql://root:***@localhost
(pymysql.err.OperationalError) (1049, "Unknown database 'f22_databases'")
[SQL: select * from f22_databases.columbia_students;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Complete

The phase of the project initial setup is complete.

We will perform other tasks in future steps.